name: Tests

on:
  push:

jobs:
  lint:
    name: Lint and Build the Project
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        name: Set up Node.js
        with:
          node-version: 22
      
      - name: Install dependencies
        run: npm ci
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      
      - name: Lint the code
        run: npm run lint

      - name: Build the project
        run: npm run build

  playwright:
    name: Playwright E2E Tests
    needs: lint
    timeout-minutes: 60
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        name: Set up Node.js
        with:
          node-version: 22
      
      - name: Install dependencies
        run: npm ci
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Install Playwright
        run: npm exec playwright install

      - name: Run Playwright tests
        run: CI=1 npm run test

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-results
          path: |
            playwright-report/
            test-results/
          retention-days: 7

      - name: Run Chromatic
        uses: chromaui/action@latest
        with:
          playwright: true
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          exitZeroOnChanges: true
        env:
          CHROMATIC_ARCHIVE_LOCATION: ./test-results
